In [2]:
import requests
import pandas
import json

resp = requests.get('https://data.cityofnewyork.us/api/views/833y-fsy8')
resp

In [3]:
data = resp.json()
data

{'id': '833y-fsy8',
 'name': 'NYPD Shooting Incident Data (Historic)',
 'attribution': 'Police Department (NYPD)',
 'averageRating': 0,
 'category': 'Public Safety',
 'createdAt': 1528230844,
 'description': 'List of every shooting incident that occurred in NYC going back to 2006 through the end of the previous calendar year.\n\nThis is a breakdown of every shooting incident that occurred in NYC going back to 2006 through the end of the previous calendar year. This data is manually extracted every quarter and reviewed by the Office of Management Analysis and Planning before being posted on the NYPD website. Each record represents a shooting incident in NYC and includes information about the event, the location and time of occurrence. In addition, information related to suspect and victim demographics is also included. This data can be used by the public to explore the nature of shooting/criminal activity. Please refer to the attached data footnotes for additional information about this dataset.',
 'displayType': 'table',
 'downloadCount': 2132,
 'hideFromCatalog': False,
 'hideFromDataJson': False,
 'indexUpdatedAt': 1542411377,
 'newBackend': True,
 'numberOfComments': 0,
 'oid': 30081014,
 'provenance': 'official',
 'publicationAppendEnabled': False,
 'publicationDate': 1541702073,
 'publicationGroup': 15248685,
 'publicationStage': 'published',
 'rowClass': '',
 'rowsUpdatedAt': 1558039163,
 'rowsUpdatedBy': '7pdm-vrjs',
 'tableId': 15650304,
 'totalTimesRated': 0,
 'viewCount': 6666,
 'viewLastModified': 1558039161,
 'viewType': 'tabular',
 'approvals': [{'reviewedAt': 1541702073,
   'reviewedAutomatically': True,
   'state': 'approved',
   'submissionId': 1077810,
   'submissionObject': 'public_audience_request',
   'submissionOutcome': 'change_audience',
   'submittedAt': 1541702073,
   'workflowId': 2285,
   'submissionDetails': {'permissionType': 'READ'},
   'submissionOutcomeApplication': {'failureCount': 0, 'status': 'success'},
   'submitter': {'id': '5fuc-pqz2', 'displayName': 'NYC OpenData'}}],
 'columns': [{'id': 382226467,
   'name': 'INCIDENT_KEY',
   'dataTypeName': 'text',
   'description': 'Randomly generated persistent ID for each arrest ',
   'fieldName': 'incident_key',
   'position': 1,
   'renderTypeName': 'text',
   'tableColumnId': 65691596,
   'cachedContents': {'largest': '9953261',
    'non_null': 6407,
    'null': '0',
    'top': [{'item': '173354054', 'count': '18'},
     {'item': '94424905', 'count': '12'},
     {'item': '24717013', 'count': '12'},
     {'item': '79378503', 'count': '12'},
     {'item': '85980014', 'count': '12'},
     {'item': '33478089', 'count': '12'},
     {'item': '138997051', 'count': '12'},
     {'item': '72616285', 'count': '12'},
     {'item': '72195829', 'count': '12'},
     {'item': '33706902', 'count': '12'},
     {'item': '35803777', 'count': '12'},
     {'item': '86437258', 'count': '12'},
     {'item': '23749375', 'count': '12'},
     {'item': '85875439', 'count': '12'},
     {'item': '66027258', 'count': '12'},
     {'item': '166660833', 'count': '10'},
     {'item': '28176154', 'count': '9'},
     {'item': '46538078', 'count': '9'},
     {'item': '80624786', 'count': '8'},
     {'item': '25095840', 'count': '8'}],
    'smallest': '10038624',
    'not_null': '20659',
    'cardinality': '16255'},
   'format': {}},
  {'id': 382226468,
   'name': 'OCCUR_DATE',
   'dataTypeName': 'calendar_date',
   'description': 'Exact date of the shooting incident',
   'fieldName': 'occur_date',
   'position': 2,
   'renderTypeName': 'calendar_date',
   'tableColumnId': 65691609,
   'cachedContents': {'largest': '2018-12-31T00:00:00.000',
    'non_null': 6407,
    'null': '0',
    'top': [{'item': '2011-09-04T00:00:00.000', 'count': '31'},
     {'item': '2007-08-11T00:00:00.000', 'count': '26'},
     {'item': '2006-09-04T00:00:00.000', 'count': '25'},
     {'item': '2010-07-11T00:00:00.000', 'count': '23'},
     {'item': '2010-08-07T00:00:00.000', 'count': '23'},
     {'item': '2007-10-06T00:00:00.000', 'count': '22'},
     {'item': '2008-05-24T00:00:00.000', 'count': '22'},
     {'item': '2009-04-26T00:00:00.000', 'count': '21'},
     {'item': '2011-08-29T00:00:00.000', 'count': '21'},
     {'item': '2011-09-05T00:00:00.000', 'count': '20'},
     {'item': '2006-11-25T00:00:00.000', 'count': '20'},
     {'item': '2018-01-06T00:00:00.000', 'count': '20'},
     {'item': '2010-04-12T00:00:00.000', 'count': '20'},
     {'item': '2011-06-18T00:00:00.000', 'count': '20'},
     {'item': '2012-07-29T00:00:00.000', 'count': '19'},
     {'item': '2012-08-26T00:00:00.000', 'count': '19'},
     {'item': '2006-07-30T00:00:00.000', 'count': '19'},
     {'item': '2007-09-09T00:00:00.000', 'count': '19'},
     {'item': '2012-07-22T00:00:00.000', 'count': '19'},
     {'item': '2006-07-22T00:00:00.000', 'count': '19'}],
    'smallest': '2006-01-01T00:00:00.000',
    'not_null': '20659',
    'cardinality': '4403'},
   'format': {'view': 'date'}},
  {'id': 382226469,
   'name': 'OCCUR_TIME',
   'dataTypeName': 'text',
   'description': 'Exact time of the shooting incident',
   'fieldName': 'occur_time',
   'position': 3,
   'renderTypeName': 'text',
   'tableColumnId': 65691608,
   'cachedContents': {'largest': '9:59:00',
    'non_null': 6407,
    'null': '0',
    'top': [{'item': '23:30:00', 'count': '137'},
     {'item': '1:30:00', 'count': '125'},
     {'item': '0:30:00', 'count': '118'},
     {'item': '2:00:00', 'count': '116'},
     {'item': '22:30:00', 'count': '109'},
     {'item': '21:00:00', 'count': '107'},
     {'item': '23:00:00', 'count': '105'},
     {'item': '4:00:00', 'count': '102'},
     {'item': '1:00:00', 'count': '99'},
     {'item': '21:30:00', 'count': '97'},
     {'item': '22:00:00', 'count': '93'},
     {'item': '4:30:00', 'count': '90'},
     {'item': '23:50:00', 'count': '86'},
     {'item': '3:30:00', 'count': '86'},
     {'item': '2:30:00', 'count': '86'},
     {'item': '3:00:00', 'count': '81'},
     {'item': '1:15:00', 'count': '76'},
     {'item': '0:50:00', 'count': '76'},
     {'item': '20:00:00', 'count': '74'},
     {'item': '0:40:00', 'count': '73'}],
    'smallest': '0:00:00',
    'not_null': '20659',
    'cardinality': '1393'},
   'format': {}},
  {'id': 382226470,
   'name': 'BORO',
   'dataTypeName': 'text',
   'description': 'Borough where the shooting incident occurred',
   'fieldName': 'boro',
   'position': 4,
   'renderTypeName': 'text',
   'tableColumnId': 65691607,
   'cachedContents': {'largest': 'STATEN ISLAND',
    'non_null': 6407,
    'null': '0',
    'top': [{'item': 'BROOKLYN', 'count': '8541'},
     {'item': 'BRONX', 'count': '5929'},
     {'item': 'QUEENS', 'count': '3067'},
     {'item': 'MANHATTAN', 'count': '2502'},
     {'item': 'STATEN ISLAND', 'count': '620'}],
    'smallest': 'BRONX',
    'not_null': '20659',
    'cardinality': '5'},
   'format': {}},
  {'id': 382226471,
   'name': 'PRECINCT',
   'dataTypeName': 'number',
   'description': 'Precinct where the shooting incident occurred',
   'fieldName': 'precinct',
   'position': 5,
   'renderTypeName': 'number',
   'tableColumnId': 65691606,
   'cachedContents': {'largest': '123',
    'non_null': 6407,
    'average': '66.69033869205556',
    'null': '0',
    'top': [{'item': '75', 'count': '1165'},
     {'item': '73', 'count': '1117'},
     {'item': '67', 'count': '994'},
     {'item': '79', 'count': '809'},
     {'item': '44', 'count': '746'},
     {'item': '47', 'count': '733'},
     {'item': '46', 'count': '692'},
     {'item': '40', 'count': '660'},
     {'item': '81', 'count': '645'},
     {'item': '113', 'count': '637'},
     {'item': '42', 'count': '627'},
     {'item': '43', 'count': '602'},
     {'item': '77', 'count': '596'},
     {'item': '48', 'count': '557'},
     {'item': '120', 'count': '478'},
     {'item': '71', 'count': '470'},
     {'item': '32', 'count': '464'},
     {'item': '103', 'count': '460'},
     {'item': '52', 'count': '442'},
     {'item': '83', 'count': '411'}],
    'smallest': '1',
    'not_null': '20659',
    'sum': '427285',
    'cardinality': '76'},
   'format': {}},
  {'id': 382226472,
   'name': 'JURISDICTION_CODE',
   'dataTypeName': 'number',
   'description': 'Jurisdiction where the shooting incident occurred. Jurisdiction codes 0(Patrol), 1(Transit) and 2(Housing) represent NYPD whilst codes 3 and more represent non NYPD jurisdictions',
   'fieldName': 'jurisdiction_code',
   'position': 6,
   'renderTypeName': 'number',
   'tableColumnId': 65691605,
   'cachedContents': {'largest': '2',
    'non_null': 6407,
    'average': '0.3511783986265023',
    'null': '1',
    'top': [{'item': '0', 'count': '17300'},
     {'item': '2', 'count': '3315'},
     {'item': '1', 'count': '43'}],
    'smallest': '0',
    'not_null': '20658',
    'sum': '2250',
    'cardinality': '3'},
   'format': {}},
  {'id': 382226473,
   'name': 'LOCATION_DESC',
   'dataTypeName': 'text',
   'description': 'Location of the shooting incident',
   'fieldName': 'location_desc',
   'position': 7,
   'renderTypeName': 'text',
   'tableColumnId': 65691604,
   'cachedContents': {'largest': 'VIDEO STORE',
    'non_null': 2167,
    'null': '11715',
    'top': [{'item': 'MULTI DWELL - PUBLIC HOUS', 'count': '3667'},
     {'item': 'MULTI DWELL - APT BUILD', 'count': '2344'},
     {'item': 'PVT HOUSE', 'count': '762'},
     {'item': 'BAR/NIGHT CLUB', 'count': '531'},
     {'item': 'GROCERY/BODEGA', 'count': '519'},
     {'item': 'COMMERCIAL BLDG', 'count': '208'},
     {'item': 'NONE', 'count': '175'},
     {'item': 'RESTAURANT/DINER', 'count': '174'},
     {'item': 'BEAUTY/NAIL SALON', 'count': '99'},
     {'item': 'FAST FOOD', 'count': '95'},
     {'item': 'SOCIAL CLUB/POLICY LOCATI', 'count': '54'},
     {'item': 'GAS STATION', 'count': '49'},
     {'item': 'LIQUOR STORE', 'count': '32'},
     {'item': 'STORE UNCLASSIFIED', 'count': '32'},
     {'item': 'DRY CLEANER/LAUNDRY', 'count': '30'},
     {'item': 'HOSPITAL', 'count': '27'},
     {'item': 'SMALL MERCHANT', 'count': '23'},
     {'item': 'SUPERMARKET', 'count': '18'},
     {'item': 'HOTEL/MOTEL', 'count': '17'},
     {'item': 'CLOTHING BOUTIQUE', 'count': '12'}],
    'smallest': 'ATM',
    'not_null': '8944',
    'cardinality': '39'},
   'format': {}},
  {'id': 382226474,
   'name': 'STATISTICAL_MURDER_FLAG',
   'dataTypeName': 'checkbox',
   'description': 'Shooting resulted in the victim’s death which would be counted as a murder',
   'fieldName': 'statistical_murder_flag',
   'position': 8,
   'renderTypeName': 'checkbox',
   'tableColumnId': 65691603,
   'cachedContents': {'non_null': 6407,
    'null': '0',
    'top': [{'item': False, 'count': '16715'},
     {'item': True, 'count': '3944'}],
    'not_null': '20659',
    'cardinality': '2'},
   'format': {}},
  {'id': 382226475,
   'name': 'PERP_AGE_GROUP',
   'dataTypeName': 'text',
   'description': 'Perpetrator’s age within a category',
   'fieldName': 'perp_age_group',
   'position': 9,
   'renderTypeName': 'text',
   'tableColumnId': 65691595,
   'cachedContents': {'largest': 'UNKNOWN',
    'non_null': 3379,
    'null': '6857',
    'top': [{'item': '18-24', 'count': '5000'},
     {'item': '25-44', 'count': '3991'},
     {'item': 'UNKNOWN', 'count': '3146'},
     {'item': '<18', 'count': '1235'},
     {'item': '45-64', 'count': '379'},
     {'item': '65+', 'count': '48'},
     {'item': '224', 'count': '1'},
     {'item': '940', 'count': '1'},
     {'item': '1020', 'count': '1'}],
    'smallest': '1020',
    'not_null': '13802',
    'cardinality': '9'},
   'format': {}},
  {'id': 382226476,
   'name': 'PERP_SEX',
   'dataTypeName': 'text',
   'description': 'Perpetrator’s sex description',
   'fieldName': 'perp_sex',
   'position': 10,
   'renderTypeName': 'text',
   'tableColumnId': 65691602,
   'cachedContents': {'largest': 'U',
    'non_null': 3379,
    'null': '6823',
    'top': [{'item': 'M', 'count': '12052'},
     {'item': 'U', 'count': '1490'},
     {'item': 'F', 'count': '294'}],
    'smallest': 'F',
    'not_null': '13836',
    'cardinality': '3'},
   'format': {}},
  {'id': 382226477,
   'name': 'PERP_RACE',
   'dataTypeName': 'text',
   'description': 'Perpetrator’s race description',
   'fieldName': 'perp_race',
   'position': 11,
   'renderTypeName': 'text',
   'tableColumnId': 65691601,
   'cachedContents': {'largest': 'WHITE HISPANIC',
    'non_null': 3379,
    'null': '6823',
    'top': [{'item': 'BLACK', 'count': '8964'},
     {'item': 'UNKNOWN', 'count': '1808'},
     {'item': 'WHITE HISPANIC', 'count': '1756'},
     {'item': 'BLACK HISPANIC', 'count': '978'},
     {'item': 'WHITE', 'count': '228'},
     {'item': 'ASIAN / PACIFIC ISLANDER', 'count': '100'},
     {'item': 'AMERICAN INDIAN/ALASKAN NATIVE', 'count': '2'}],
    'smallest': 'AMERICAN INDIAN/ALASKAN NATIVE',
    'not_null': '13836',
    'cardinality': '7'},
   'format': {}},
  {'id': 382226478,
   'name': 'VIC_AGE_GROUP',
   'dataTypeName': 'text',
   'description': 'Victim’s age within a category',
   'fieldName': 'vic_age_group',
   'position': 12,
   'renderTypeName': 'text',
   'tableColumnId': 65691594,
   'cachedContents': {'largest': 'UNKNOWN',
    'non_null': 6407,
    'null': '0',
    'top': [{'item': '25-44', 'count': '8707'},
     {'item': '18-24', 'count': '8153'},
     {'item': '<18', 'count': '2324'},
     {'item': '45-64', 'count': '1286'},
     {'item': '65+', 'count': '135'},
     {'item': 'UNKNOWN', 'count': '54'}],
    'smallest': '<18',
    'not_null': '20659',
    'cardinality': '6'},
   'format': {}},
  {'id': 382226479,
   'name': 'VIC_SEX',
   'dataTypeName': 'text',
   'description': 'Victim’s sex description',
   'fieldName': 'vic_sex',
   'position': 13,
   'renderTypeName': 'text',
   'tableColumnId': 65691600,
   'cachedContents': {'largest': 'U',
    'non_null': 6407,
    'null': '0',
    'top': [{'item': 'M', 'count': '18750'},
     {'item': 'F', 'count': '1898'},
     {'item': 'U', 'count': '11'}],
    'smallest': 'F',
    'not_null': '20659',
    'cardinality': '3'},
   'format': {}},
  {'id': 382226480,
   'name': 'VIC_RACE',
   'dataTypeName': 'text',
   'description': 'Victim’s race description',
   'fieldName': 'vic_race',
   'position': 14,
   'renderTypeName': 'text',
   'tableColumnId': 65691599,
   'cachedContents': {'largest': 'WHITE HISPANIC',
    'non_null': 6407,
    'null': '0',
    'top': [{'item': 'BLACK', 'count': '14801'},
     {'item': 'WHITE HISPANIC', 'count': '2942'},
     {'item': 'BLACK HISPANIC', 'count': '2010'},
     {'item': 'WHITE', 'count': '553'},
     {'item': 'ASIAN / PACIFIC ISLANDER', 'count': '267'},
     {'item': 'UNKNOWN', 'count': '77'},
     {'item': 'AMERICAN INDIAN/ALASKAN NATIVE', 'count': '9'}],
    'smallest': 'AMERICAN INDIAN/ALASKAN NATIVE',
    'not_null': '20659',
    'cardinality': '7'},
   'format': {}},
  {'id': 382226481,
   'name': 'X_COORD_CD',
   'dataTypeName': 'text',
   'description': 'Midblock X-coordinate for New York State Plane Coordinate System, Long Island Zone, NAD 83, units feet (FIPS 3104)',
   'fieldName': 'x_coord_cd',
   'position': 15,
   'renderTypeName': 'text',
   'tableColumnId': 65691593,
   'cachedContents': {'largest': '999998',
    'non_null': 6407,
    'null': '0',
    'top': [{'item': '1017119', 'count': '65'},
     {'item': '1026387', 'count': '50'},
     {'item': '1008276', 'count': '50'},
     {'item': '1017141', 'count': '44'},
     {'item': '936722', 'count': '43'},
     {'item': '1006434', 'count': '42'},
     {'item': '1008427', 'count': '42'},
     {'item': '1046405', 'count': '41'},
     {'item': '998032', 'count': '40'},
     {'item': '1046367', 'count': '39'},
     {'item': '1017542', 'count': '38'},
     {'item': '999358', 'count': '35'},
     {'item': '1003508', 'count': '34'},
     {'item': '999634', 'count': '33'},
     {'item': '1011751', 'count': '32'},
     {'item': '1041749', 'count': '32'},
     {'item': '999880', 'count': '30'},
     {'item': '1003656', 'count': '30'},
     {'item': '1009905', 'count': '29'},
     {'item': '1026486', 'count': '29'}],
    'smallest': '1000001',
    'not_null': '20659',
    'cardinality': '8758'},
   'format': {}},
  {'id': 382226482,
   'name': 'Y_COORD_CD',
   'dataTypeName': 'text',
   'description': 'Midblock Y-coordinate for New York State Plane Coordinate System, Long Island Zone, NAD 83, units feet (FIPS 3104)',
   'fieldName': 'y_coord_cd',
   'position': 16,
   'renderTypeName': 'text',
   'tableColumnId': 65691592,
   'cachedContents': {'largest': '271128',
    'non_null': 6407,
    'null': '0',
    'top': [{'item': '183909', 'count': '65'},
     {'item': '183623', 'count': '56'},
     {'item': '262634', 'count': '50'},
     {'item': '244344', 'count': '45'},
     {'item': '183798', 'count': '44'},
     {'item': '172119', 'count': '43'},
     {'item': '183518', 'count': '42'},
     {'item': '187113', 'count': '41'},
     {'item': '175598', 'count': '40'},
     {'item': '186986', 'count': '39'},
     {'item': '255919', 'count': '37'},
     {'item': '236472', 'count': '35'},
     {'item': '190253', 'count': '33'},
     {'item': '196938', 'count': '32'},
     {'item': '185056', 'count': '31'},
     {'item': '190399', 'count': '30'},
     {'item': '187150', 'count': '30'},
     {'item': '180751', 'count': '29'},
     {'item': '262591', 'count': '29'},
     {'item': '175677', 'count': '28'}],
    'smallest': '125757',
    'not_null': '20659',
    'cardinality': '8989'},
   'format': {}},
  {'id': 382226483,
   'name': 'Latitude',
   'dataTypeName': 'number',
   'description': 'Latitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326) ',
   'fieldName': 'latitude',
   'position': 17,
   'renderTypeName': 'number',
   'tableColumnId': 65691598,
   'cachedContents': {'largest': '40.910818945000074',
    'non_null': 6407,
    'average': '40.73423393421882',
    'null': '0',
    'top': [{'item': '40.67141166300007', 'count': '65'},
     {'item': '40.88745131300004', 'count': '50'},
     {'item': '40.670655072000045', 'count': '50'},
     {'item': '40.67110691100004', 'count': '44'},
     {'item': '40.63898417600007', 'count': '43'},
     {'item': '40.670366460000025', 'count': '42'},
     {'item': '40.83732351100008', 'count': '42'},
     {'item': '40.680048726000045', 'count': '41'},
     {'item': '40.648650085000035', 'count': '40'},
     {'item': '40.67970040800003', 'count': '39'},
     {'item': '40.86905853200005', 'count': '37'},
     {'item': '40.81573205300003', 'count': '35'},
     {'item': '40.688872153000034', 'count': '33'},
     {'item': '40.70704747500002', 'count': '32'},
     {'item': '40.67459999000005', 'count': '31'},
     {'item': '40.68034722300007', 'count': '30'},
     {'item': '40.68927245800006', 'count': '30'},
     {'item': '40.88733281800006', 'count': '29'},
     {'item': '40.662767503000055', 'count': '29'},
     {'item': '40.64886713300007', 'count': '28'}],
    'smallest': '40.51158633800003',
    'not_null': '20659',
    'sum': '260984.236816540',
    'cardinality': '9471'},
   'format': {}},
  {'id': 382226484,
   'name': 'Longitude',
   'dataTypeName': 'number',
   'description': 'Longitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326)',
   'fieldName': 'longitude',
   'position': 18,
   'renderTypeName': 'number',
   'tableColumnId': 65691597,
   'cachedContents': {'largest': '-73.70308204399998',
    'non_null': 6407,
    'average': '-73.91155470564211',
    'null': '0',
    'top': [{'item': '-73.88151172399995', 'count': '65'},
     {'item': '-73.84760778699997', 'count': '50'},
     {'item': '-73.91339091999998', 'count': '50'},
     {'item': '-73.88143295699997', 'count': '44'},
     {'item': '-74.17125230499995', 'count': '43'},
     {'item': '-73.91983075699994', 'count': '42'},
     {'item': '-73.91284696199995', 'count': '42'},
     {'item': '-73.77590919399995', 'count': '41'},
     {'item': '-73.95033556299995', 'count': '40'},
     {'item': '-73.77604736799998', 'count': '39'},

In [5]:
"format"

'format'

In [7]:
data01 = data["approvals"]
data01

[{'reviewedAt': 1541702073,
  'reviewedAutomatically': True,
  'state': 'approved',
  'submissionId': 1077810,
  'submissionObject': 'public_audience_request',
  'submissionOutcome': 'change_audience',
  'submittedAt': 1541702073,
  'workflowId': 2285,
  'submissionDetails': {'permissionType': 'READ'},
  'submissionOutcomeApplication': {'failureCount': 0, 'status': 'success'},
  'submitter': {'id': '5fuc-pqz2', 'displayName': 'NYC OpenData'}}]

In [ ]:
"columns"

In [8]:
data02 = data["columns"]
data02

[{'id': 382226467,
  'name': 'INCIDENT_KEY',
  'dataTypeName': 'text',
  'description': 'Randomly generated persistent ID for each arrest ',
  'fieldName': 'incident_key',
  'position': 1,
  'renderTypeName': 'text',
  'tableColumnId': 65691596,
  'cachedContents': {'largest': '9953261',
   'non_null': 6407,
   'null': '0',
   'top': [{'item': '173354054', 'count': '18'},
    {'item': '94424905', 'count': '12'},
    {'item': '24717013', 'count': '12'},
    {'item': '79378503', 'count': '12'},
    {'item': '85980014', 'count': '12'},
    {'item': '33478089', 'count': '12'},
    {'item': '138997051', 'count': '12'},
    {'item': '72616285', 'count': '12'},
    {'item': '72195829', 'count': '12'},
    {'item': '33706902', 'count': '12'},
    {'item': '35803777', 'count': '12'},
    {'item': '86437258', 'count': '12'},
    {'item': '23749375', 'count': '12'},
    {'item': '85875439', 'count': '12'},
    {'item': '66027258', 'count': '12'},
    {'item': '166660833', 'count': '10'},
    {'item': '28176154', 'count': '9'},
    {'item': '46538078', 'count': '9'},
    {'item': '80624786', 'count': '8'},
    {'item': '25095840', 'count': '8'}],
   'smallest': '10038624',
   'not_null': '20659',
   'cardinality': '16255'},
  'format': {}},
 {'id': 382226468,
  'name': 'OCCUR_DATE',
  'dataTypeName': 'calendar_date',
  'description': 'Exact date of the shooting incident',
  'fieldName': 'occur_date',
  'position': 2,
  'renderTypeName': 'calendar_date',
  'tableColumnId': 65691609,
  'cachedContents': {'largest': '2018-12-31T00:00:00.000',
   'non_null': 6407,
   'null': '0',
   'top': [{'item': '2011-09-04T00:00:00.000', 'count': '31'},
    {'item': '2007-08-11T00:00:00.000', 'count': '26'},
    {'item': '2006-09-04T00:00:00.000', 'count': '25'},
    {'item': '2010-07-11T00:00:00.000', 'count': '23'},
    {'item': '2010-08-07T00:00:00.000', 'count': '23'},
    {'item': '2007-10-06T00:00:00.000', 'count': '22'},
    {'item': '2008-05-24T00:00:00.000', 'count': '22'},
    {'item': '2009-04-26T00:00:00.000', 'count': '21'},
    {'item': '2011-08-29T00:00:00.000', 'count': '21'},
    {'item': '2011-09-05T00:00:00.000', 'count': '20'},
    {'item': '2006-11-25T00:00:00.000', 'count': '20'},
    {'item': '2018-01-06T00:00:00.000', 'count': '20'},
    {'item': '2010-04-12T00:00:00.000', 'count': '20'},
    {'item': '2011-06-18T00:00:00.000', 'count': '20'},
    {'item': '2012-07-29T00:00:00.000', 'count': '19'},
    {'item': '2012-08-26T00:00:00.000', 'count': '19'},
    {'item': '2006-07-30T00:00:00.000', 'count': '19'},
    {'item': '2007-09-09T00:00:00.000', 'count': '19'},
    {'item': '2012-07-22T00:00:00.000', 'count': '19'},
    {'item': '2006-07-22T00:00:00.000', 'count': '19'}],
   'smallest': '2006-01-01T00:00:00.000',
   'not_null': '20659',
   'cardinality': '4403'},
  'format': {'view': 'date'}},
 {'id': 382226469,
  'name': 'OCCUR_TIME',
  'dataTypeName': 'text',
  'description': 'Exact time of the shooting incident',
  'fieldName': 'occur_time',
  'position': 3,
  'renderTypeName': 'text',
  'tableColumnId': 65691608,
  'cachedContents': {'largest': '9:59:00',
   'non_null': 6407,
   'null': '0',
   'top': [{'item': '23:30:00', 'count': '137'},
    {'item': '1:30:00', 'count': '125'},
    {'item': '0:30:00', 'count': '118'},
    {'item': '2:00:00', 'count': '116'},
    {'item': '22:30:00', 'count': '109'},
    {'item': '21:00:00', 'count': '107'},
    {'item': '23:00:00', 'count': '105'},
    {'item': '4:00:00', 'count': '102'},
    {'item': '1:00:00', 'count': '99'},
    {'item': '21:30:00', 'count': '97'},
    {'item': '22:00:00', 'count': '93'},
    {'item': '4:30:00', 'count': '90'},
    {'item': '23:50:00', 'count': '86'},
    {'item': '3:30:00', 'count': '86'},
    {'item': '2:30:00', 'count': '86'},
    {'item': '3:00:00', 'count': '81'},
    {'item': '1:15:00', 'count': '76'},
    {'item': '0:50:00', 'count': '76'},
    {'item': '20:00:00', 'count': '74'},
    {'item': '0:40:00', 'count': '73'}],
   'smallest': '0:00:00',
   'not_null': '20659',
   'cardinality': '1393'},
  'format': {}},
 {'id': 382226470,
  'name': 'BORO',
  'dataTypeName': 'text',
  'description': 'Borough where the shooting incident occurred',
  'fieldName': 'boro',
  'position': 4,
  'renderTypeName': 'text',
  'tableColumnId': 65691607,
  'cachedContents': {'largest': 'STATEN ISLAND',
   'non_null': 6407,
   'null': '0',
   'top': [{'item': 'BROOKLYN', 'count': '8541'},
    {'item': 'BRONX', 'count': '5929'},
    {'item': 'QUEENS', 'count': '3067'},
    {'item': 'MANHATTAN', 'count': '2502'},
    {'item': 'STATEN ISLAND', 'count': '620'}],
   'smallest': 'BRONX',
   'not_null': '20659',
   'cardinality': '5'},
  'format': {}},
 {'id': 382226471,
  'name': 'PRECINCT',
  'dataTypeName': 'number',
  'description': 'Precinct where the shooting incident occurred',
  'fieldName': 'precinct',
  'position': 5,
  'renderTypeName': 'number',
  'tableColumnId': 65691606,
  'cachedContents': {'largest': '123',
   'non_null': 6407,
   'average': '66.69033869205556',
   'null': '0',
   'top': [{'item': '75', 'count': '1165'},
    {'item': '73', 'count': '1117'},
    {'item': '67', 'count': '994'},
    {'item': '79', 'count': '809'},
    {'item': '44', 'count': '746'},
    {'item': '47', 'count': '733'},
    {'item': '46', 'count': '692'},
    {'item': '40', 'count': '660'},
    {'item': '81', 'count': '645'},
    {'item': '113', 'count': '637'},
    {'item': '42', 'count': '627'},
    {'item': '43', 'count': '602'},
    {'item': '77', 'count': '596'},
    {'item': '48', 'count': '557'},
    {'item': '120', 'count': '478'},
    {'item': '71', 'count': '470'},
    {'item': '32', 'count': '464'},
    {'item': '103', 'count': '460'},
    {'item': '52', 'count': '442'},
    {'item': '83', 'count': '411'}],
   'smallest': '1',
   'not_null': '20659',
   'sum': '427285',
   'cardinality': '76'},
  'format': {}},
 {'id': 382226472,
  'name': 'JURISDICTION_CODE',
  'dataTypeName': 'number',
  'description': 'Jurisdiction where the shooting incident occurred. Jurisdiction codes 0(Patrol), 1(Transit) and 2(Housing) represent NYPD whilst codes 3 and more represent non NYPD jurisdictions',
  'fieldName': 'jurisdiction_code',
  'position': 6,
  'renderTypeName': 'number',
  'tableColumnId': 65691605,
  'cachedContents': {'largest': '2',
   'non_null': 6407,
   'average': '0.3511783986265023',
   'null': '1',
   'top': [{'item': '0', 'count': '17300'},
    {'item': '2', 'count': '3315'},
    {'item': '1', 'count': '43'}],
   'smallest': '0',
   'not_null': '20658',
   'sum': '2250',
   'cardinality': '3'},
  'format': {}},
 {'id': 382226473,
  'name': 'LOCATION_DESC',
  'dataTypeName': 'text',
  'description': 'Location of the shooting incident',
  'fieldName': 'location_desc',
  'position': 7,
  'renderTypeName': 'text',
  'tableColumnId': 65691604,
  'cachedContents': {'largest': 'VIDEO STORE',
   'non_null': 2167,
   'null': '11715',
   'top': [{'item': 'MULTI DWELL - PUBLIC HOUS', 'count': '3667'},
    {'item': 'MULTI DWELL - APT BUILD', 'count': '2344'},
    {'item': 'PVT HOUSE', 'count': '762'},
    {'item': 'BAR/NIGHT CLUB', 'count': '531'},
    {'item': 'GROCERY/BODEGA', 'count': '519'},
    {'item': 'COMMERCIAL BLDG', 'count': '208'},
    {'item': 'NONE', 'count': '175'},
    {'item': 'RESTAURANT/DINER', 'count': '174'},
    {'item': 'BEAUTY/NAIL SALON', 'count': '99'},
    {'item': 'FAST FOOD', 'count': '95'},
    {'item': 'SOCIAL CLUB/POLICY LOCATI', 'count': '54'},
    {'item': 'GAS STATION', 'count': '49'},
    {'item': 'LIQUOR STORE', 'count': '32'},
    {'item': 'STORE UNCLASSIFIED', 'count': '32'},
    {'item': 'DRY CLEANER/LAUNDRY', 'count': '30'},
    {'item': 'HOSPITAL', 'count': '27'},
    {'item': 'SMALL MERCHANT', 'count': '23'},
    {'item': 'SUPERMARKET', 'count': '18'},
    {'item': 'HOTEL/MOTEL', 'count': '17'},
    {'item': 'CLOTHING BOUTIQUE', 'count': '12'}],
   'smallest': 'ATM',
   'not_null': '8944',
   'cardinality': '39'},
  'format': {}},
 {'id': 382226474,
  'name': 'STATISTICAL_MURDER_FLAG',
  'dataTypeName': 'checkbox',
  'description': 'Shooting resulted in the victim’s death which would be counted as a murder',
  'fieldName': 'statistical_murder_flag',
  'position': 8,
  'renderTypeName': 'checkbox',
  'tableColumnId': 65691603,
  'cachedContents': {'non_null': 6407,
   'null': '0',
   'top': [{'item': False, 'count': '16715'}, {'item': True, 'count': '3944'}],
   'not_null': '20659',
   'cardinality': '2'},
  'format': {}},
 {'id': 382226475,
  'name': 'PERP_AGE_GROUP',
  'dataTypeName': 'text',
  'description': 'Perpetrator’s age within a category',
  'fieldName': 'perp_age_group',
  'position': 9,
  'renderTypeName': 'text',
  'tableColumnId': 65691595,
  'cachedContents': {'largest': 'UNKNOWN',
   'non_null': 3379,
   'null': '6857',
   'top': [{'item': '18-24', 'count': '5000'},
    {'item': '25-44', 'count': '3991'},
    {'item': 'UNKNOWN', 'count': '3146'},
    {'item': '<18', 'count': '1235'},
    {'item': '45-64', 'count': '379'},
    {'item': '65+', 'count': '48'},
    {'item': '224', 'count': '1'},
    {'item': '940', 'count': '1'},
    {'item': '1020', 'count': '1'}],
   'smallest': '1020',
   'not_null': '13802',
   'cardinality': '9'},
  'format': {}},
 {'id': 382226476,
  'name': 'PERP_SEX',
  'dataTypeName': 'text',
  'description': 'Perpetrator’s sex description',
  'fieldName': 'perp_sex',
  'position': 10,
  'renderTypeName': 'text',
  'tableColumnId': 65691602,
  'cachedContents': {'largest': 'U',
   'non_null': 3379,
   'null': '6823',
   'top': [{'item': 'M', 'count': '12052'},
    {'item': 'U', 'count': '1490'},
    {'item': 'F', 'count': '294'}],
   'smallest': 'F',
   'not_null': '13836',
   'cardinality': '3'},
  'format': {}},
 {'id': 382226477,
  'name': 'PERP_RACE',
  'dataTypeName': 'text',
  'description': 'Perpetrator’s race description',
  'fieldName': 'perp_race',
  'position': 11,
  'renderTypeName': 'text',
  'tableColumnId': 65691601,
  'cachedContents': {'largest': 'WHITE HISPANIC',
   'non_null': 3379,
   'null': '6823',
   'top': [{'item': 'BLACK', 'count': '8964'},
    {'item': 'UNKNOWN', 'count': '1808'},
    {'item': 'WHITE HISPANIC', 'count': '1756'},
    {'item': 'BLACK HISPANIC', 'count': '978'},
    {'item': 'WHITE', 'count': '228'},
    {'item': 'ASIAN / PACIFIC ISLANDER', 'count': '100'},
    {'item': 'AMERICAN INDIAN/ALASKAN NATIVE', 'count': '2'}],
   'smallest': 'AMERICAN INDIAN/ALASKAN NATIVE',
   'not_null': '13836',
   'cardinality': '7'},
  'format': {}},
 {'id': 382226478,
  'name': 'VIC_AGE_GROUP',
  'dataTypeName': 'text',
  'description': 'Victim’s age within a category',
  'fieldName': 'vic_age_group',
  'position': 12,
  'renderTypeName': 'text',
  'tableColumnId': 65691594,
  'cachedContents': {'largest': 'UNKNOWN',
   'non_null': 6407,
   'null': '0',
   'top': [{'item': '25-44', 'count': '8707'},
    {'item': '18-24', 'count': '8153'},
    {'item': '<18', 'count': '2324'},
    {'item': '45-64', 'count': '1286'},
    {'item': '65+', 'count': '135'},
    {'item': 'UNKNOWN', 'count': '54'}],
   'smallest': '<18',
   'not_null': '20659',
   'cardinality': '6'},
  'format': {}},
 {'id': 382226479,
  'name': 'VIC_SEX',
  'dataTypeName': 'text',
  'description': 'Victim’s sex description',
  'fieldName': 'vic_sex',
  'position': 13,
  'renderTypeName': 'text',
  'tableColumnId': 65691600,
  'cachedContents': {'largest': 'U',
   'non_null': 6407,
   'null': '0',
   'top': [{'item': 'M', 'count': '18750'},
    {'item': 'F', 'count': '1898'},
    {'item': 'U', 'count': '11'}],
   'smallest': 'F',
   'not_null': '20659',
   'cardinality': '3'},
  'format': {}},
 {'id': 382226480,
  'name': 'VIC_RACE',
  'dataTypeName': 'text',
  'description': 'Victim’s race description',
  'fieldName': 'vic_race',
  'position': 14,
  'renderTypeName': 'text',
  'tableColumnId': 65691599,
  'cachedContents': {'largest': 'WHITE HISPANIC',
   'non_null': 6407,
   'null': '0',
   'top': [{'item': 'BLACK', 'count': '14801'},
    {'item': 'WHITE HISPANIC', 'count': '2942'},
    {'item': 'BLACK HISPANIC', 'count': '2010'},
    {'item': 'WHITE', 'count': '553'},
    {'item': 'ASIAN / PACIFIC ISLANDER', 'count': '267'},
    {'item': 'UNKNOWN', 'count': '77'},
    {'item': 'AMERICAN INDIAN/ALASKAN NATIVE', 'count': '9'}],
   'smallest': 'AMERICAN INDIAN/ALASKAN NATIVE',
   'not_null': '20659',
   'cardinality': '7'},
  'format': {}},
 {'id': 382226481,
  'name': 'X_COORD_CD',
  'dataTypeName': 'text',
  'description': 'Midblock X-coordinate for New York State Plane Coordinate System, Long Island Zone, NAD 83, units feet (FIPS 3104)',
  'fieldName': 'x_coord_cd',
  'position': 15,
  'renderTypeName': 'text',
  'tableColumnId': 65691593,
  'cachedContents': {'largest': '999998',
   'non_null': 6407,
   'null': '0',
   'top': [{'item': '1017119', 'count': '65'},
    {'item': '1026387', 'count': '50'},
    {'item': '1008276', 'count': '50'},
    {'item': '1017141', 'count': '44'},
    {'item': '936722', 'count': '43'},
    {'item': '1006434', 'count': '42'},
    {'item': '1008427', 'count': '42'},
    {'item': '1046405', 'count': '41'},
    {'item': '998032', 'count': '40'},
    {'item': '1046367', 'count': '39'},
    {'item': '1017542', 'count': '38'},
    {'item': '999358', 'count': '35'},
    {'item': '1003508', 'count': '34'},
    {'item': '999634', 'count': '33'},
    {'item': '1011751', 'count': '32'},
    {'item': '1041749', 'count': '32'},
    {'item': '999880', 'count': '30'},
    {'item': '1003656', 'count': '30'},
    {'item': '1009905', 'count': '29'},
    {'item': '1026486', 'count': '29'}],
   'smallest': '1000001',
   'not_null': '20659',
   'cardinality': '8758'},
  'format': {}},
 {'id': 382226482,
  'name': 'Y_COORD_CD',
  'dataTypeName': 'text',
  'description': 'Midblock Y-coordinate for New York State Plane Coordinate System, Long Island Zone, NAD 83, units feet (FIPS 3104)',
  'fieldName': 'y_coord_cd',
  'position': 16,
  'renderTypeName': 'text',
  'tableColumnId': 65691592,
  'cachedContents': {'largest': '271128',
   'non_null': 6407,
   'null': '0',
   'top': [{'item': '183909', 'count': '65'},
    {'item': '183623', 'count': '56'},
    {'item': '262634', 'count': '50'},
    {'item': '244344', 'count': '45'},
    {'item': '183798', 'count': '44'},
    {'item': '172119', 'count': '43'},
    {'item': '183518', 'count': '42'},
    {'item': '187113', 'count': '41'},
    {'item': '175598', 'count': '40'},
    {'item': '186986', 'count': '39'},
    {'item': '255919', 'count': '37'},
    {'item': '236472', 'count': '35'},
    {'item': '190253', 'count': '33'},
    {'item': '196938', 'count': '32'},
    {'item': '185056', 'count': '31'},
    {'item': '190399', 'count': '30'},
    {'item': '187150', 'count': '30'},
    {'item': '180751', 'count': '29'},
    {'item': '262591', 'count': '29'},
    {'item': '175677', 'count': '28'}],
   'smallest': '125757',
   'not_null': '20659',
   'cardinality': '8989'},
  'format': {}},
 {'id': 382226483,
  'name': 'Latitude',
  'dataTypeName': 'number',
  'description': 'Latitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326) ',
  'fieldName': 'latitude',
  'position': 17,
  'renderTypeName': 'number',
  'tableColumnId': 65691598,
  'cachedContents': {'largest': '40.910818945000074',
   'non_null': 6407,
   'average': '40.73423393421882',
   'null': '0',
   'top': [{'item': '40.67141166300007', 'count': '65'},
    {'item': '40.88745131300004', 'count': '50'},
    {'item': '40.670655072000045', 'count': '50'},
    {'item': '40.67110691100004', 'count': '44'},
    {'item': '40.63898417600007', 'count': '43'},
    {'item': '40.670366460000025', 'count': '42'},
    {'item': '40.83732351100008', 'count': '42'},
    {'item': '40.680048726000045', 'count': '41'},
    {'item': '40.648650085000035', 'count': '40'},
    {'item': '40.67970040800003', 'count': '39'},
    {'item': '40.86905853200005', 'count': '37'},
    {'item': '40.81573205300003', 'count': '35'},
    {'item': '40.688872153000034', 'count': '33'},
    {'item': '40.70704747500002', 'count': '32'},
    {'item': '40.67459999000005', 'count': '31'},
    {'item': '40.68034722300007', 'count': '30'},
    {'item': '40.68927245800006', 'count': '30'},
    {'item': '40.88733281800006', 'count': '29'},
    {'item': '40.662767503000055', 'count': '29'},
    {'item': '40.64886713300007', 'count': '28'}],
   'smallest': '40.51158633800003',
   'not_null': '20659',
   'sum': '260984.236816540',
   'cardinality': '9471'},
  'format': {}},
 {'id': 382226484,
  'name': 'Longitude',
  'dataTypeName': 'number',
  'description': 'Longitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326)',
  'fieldName': 'longitude',
  'position': 18,
  'renderTypeName': 'number',
  'tableColumnId': 65691597,
  'cachedContents': {'largest': '-73.70308204399998',
   'non_null': 6407,
   'average': '-73.91155470564211',
   'null': '0',
   'top': [{'item': '-73.88151172399995', 'count': '65'},
    {'item': '-73.84760778699997', 'count': '50'},
    {'item': '-73.91339091999998', 'count': '50'},
    {'item': '-73.88143295699997', 'count': '44'},
    {'item': '-74.17125230499995', 'count': '43'},
    {'item': '-73.91983075699994', 'count': '42'},
    {'item': '-73.91284696199995', 'count': '42'},
    {'item': '-73.77590919399995', 'count': '41'},
    {'item': '-73.95033556299995', 'count': '40'},
    {'item': '-73.77604736799998', 'count': '39'},
    {'item': '-73.87963014799993', 'count': '37'},
    {'item': '-73.94542041099999', 'count': '35'},
    {'item': '-73.94452903199993', 'count': '33'},
    {'item': '-73.79261190399995', 'count': '32'},
    {'item': '-73.93057482199998', 'count': '31'},
    {'item': '-73.93003524099998', 'count': '30'},
    {'item': '-73.94364165399996', 'count': '30'},
    {'item': '-73.84725001299995', 'count': '29'},
    {'item': '-73.90752952599996', 'count': '29'},
    {'item': '-73.95082189999994', 'count': '28'}],
   'smallest': '-74.24930372699998',
   'not_null': '20659',
   'sum': '-473551.330999049',
   'cardinality': '9469'},
  'format': {}}]

In [ ]:
 'description'

In [16]:
df01 = pd.DataFrame(data02, columns=['id','name','description', 
                                                  'position','cardinality','format'])
df01

,id,name,description,position,cardinality,format
0,382226467,INCIDENT_KEY,Randomly generated persistent ID for each arrest,1,NaN,{}
1,382226468,OCCUR_DATE,Exact date of the shooting incident,2,NaN,{'view': 'date'}
2,382226469,OCCUR_TIME,Exact time of the shooting incident,3,NaN,{}
3,382226470,BORO,Borough where the shooting incident occurred,4,NaN,{}
4,382226471,PRECINCT,Precinct where the shooting incident occurred,5,NaN,{}
5,382226472,JURISDICTION_CODE,Jurisdiction where the shooting incident occur...,6,NaN,{}
6,382226473,LOCATION_DESC,Location of the shooting incident,7,NaN,{}
7,382226474,STATISTICAL_MURDER_FLAG,Shooting resulted in the victim’s death which ...,8,NaN,{}
8,382226475,PERP_AGE_GROUP,Perpetrator’s age within a category,9,NaN,{}
9,382226476,PERP_SEX,Perpetrator’s sex description,10,NaN,{}
10,382226477,PERP_RACE,Perpetrator’s race description,11,NaN,{}
11,382226478,VIC_AGE_GROUP,Victim’s age within a category,12,NaN,{}
12,382226479,VIC_SEX,Victim’s sex description,13,NaN,{}
13,382226480,VIC_RACE,Victim’s race description,14,NaN,{}
14,382226481,X_COORD_CD,Midblock X-coordinate for New York State Plane...,15,NaN,{}
15,382226482,Y_COORD_CD,Midblock Y-coordinate for New York State Plane...,16,NaN,{}
16,382226483,Latitude,Latitude coordinate for Global Coordinate Syst...,17,NaN,{}
17,382226484,Longitude,Longitude coordinate for Global Coordinate Sys...,18,NaN,{}

In [17]:
df02 = pd.DataFrame(data02, columns=['id','name','description', 
                                                  'position','top'])
df02

,id,name,description,position,top
0,382226467,INCIDENT_KEY,Randomly generated persistent ID for each arrest,1,NaN
1,382226468,OCCUR_DATE,Exact date of the shooting incident,2,NaN
2,382226469,OCCUR_TIME,Exact time of the shooting incident,3,NaN
3,382226470,BORO,Borough where the shooting incident occurred,4,NaN
4,382226471,PRECINCT,Precinct where the shooting incident occurred,5,NaN
5,382226472,JURISDICTION_CODE,Jurisdiction where the shooting incident occur...,6,NaN
6,382226473,LOCATION_DESC,Location of the shooting incident,7,NaN
7,382226474,STATISTICAL_MURDER_FLAG,Shooting resulted in the victim’s death which ...,8,NaN
8,382226475,PERP_AGE_GROUP,Perpetrator’s age within a category,9,NaN
9,382226476,PERP_SEX,Perpetrator’s sex description,10,NaN
10,382226477,PERP_RACE,Perpetrator’s race description,11,NaN
11,382226478,VIC_AGE_GROUP,Victim’s age within a category,12,NaN
12,382226479,VIC_SEX,Victim’s sex description,13,NaN
13,382226480,VIC_RACE,Victim’s race description,14,NaN
14,382226481,X_COORD_CD,Midblock X-coordinate for New York State Plane...,15,NaN
15,382226482,Y_COORD_CD,Midblock Y-coordinate for New York State Plane...,16,NaN
16,382226483,Latitude,Latitude coordinate for Global Coordinate Syst...,17,NaN
17,382226484,Longitude,Longitude coordinate for Global Coordinate Sys...,18,NaN

In [24]:
df03 = pd.DataFrame(data02, columns=['id','item','count'])
df03

           id  item  count
0   382226467   NaN    NaN
1   382226468   NaN    NaN
2   382226469   NaN    NaN
3   382226470   NaN    NaN
4   382226471   NaN    NaN
5   382226472   NaN    NaN
6   382226473   NaN    NaN
7   382226474   NaN    NaN
8   382226475   NaN    NaN
9   382226476   NaN    NaN
10  382226477   NaN    NaN
11  382226478   NaN    NaN
12  382226479   NaN    NaN
13  382226480   NaN    NaN
14  382226481   NaN    NaN
15  382226482   NaN    NaN
16  382226483   NaN    NaN
17  382226484   NaN    NaN

In [19]:
data03 = data02['top']
data03

TypeError: list indices must be integers or slices, not str

In [21]:
df04 = pd.DataFrame(data02, columns=['top'])
df04

    top
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
12  NaN
13  NaN
14  NaN
15  NaN
16  NaN
17  NaN